body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 165px;
    background-color: #1f2937;
    border: none;
}

.footer {
    text-align: center;
    padding: 52px;
    background-color: #1f2937;
    color: #c3c5c9;
    font-size: 18px;
    
}

.header-left {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo {
    box-shadow: inset 8px 8px 16px rgb(0, 0, 0);
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.logo-txt {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-size: 18px; 
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
    padding: 110px 165px;
    background-color: #1f2937;
}

.welcome-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 440px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
    padding: 12px 0px;
}

.sign-up-button,.sign-up-button-two {
    font-size: 18px;
    font-weight: 540;
    color: #f9faf8;
    background-color: #3882f6;
    border-style: solid;
    border-color: #e5e7eb;
    border-radius: 8px;
    padding: 8px 32px;
}

.sign-up-button {
    border: none;
}

.mallard {
    width: 320px;
}

.info {
    text-align: center;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 52px;
}

.examples {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 52px;
}

.thumb {
    width: 240px;
}

.thumb-nail {
    width: 200px;
    border-radius: 24px;
    margin-bottom: 12px;
}

.thumb-txt {
    color:#828488
}

.testimonial {
    background-color: #e5e7eb;
    align-items: center;
    font-size: 36px;
    font-weight: 220;
    font-style: italic;
    padding: 120px 200px;
}

.david {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.recruitment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.pressure-box {
    display: flex;
    background-color: #3882f6;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
    gap: 240px;
    width: 1000px;
    padding: 45px;
    border-radius: 8px;

}

.pressure-command {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
}

.pressure-txt {
    display: flex;
    flex-direction: column;
    width: 450px;
    font-weight: 200;
}